.head {
  margin-top: 35px;
}

.mat-icon-button {
  margin-left: 55px;
  margin-bottom: 25px;
}

[data-left] {
  [data-en] {
    margin-top: 10px;
  }
  .img-fluid {
    width: 400px;
  }
}

[data-right] {
  text-indent: inherit;
  [data-status] {
    font-size: 1.15em;
  }
}
