<div class="footer">
  
  <div class="wrap contents">

    <div class="left">

      <div class="credits" routerLink="/">
        <div class="icon">
          <mat-icon>whatshot</mat-icon>
        </div>
        <div class="item">
          <div class="text">Anime Select</div>
        </div>
      </div>

      <p class="dev">{{ '{' }}&nbsp;&nbsp;by ElecTreeFrying&nbsp;&nbsp;{{ '}' }}</p>

    </div>


    <div class="spacer"></div>

    <div class="information">
      <div>
        <p class="entry" routerLink="/about">About</p>
        <p class="entry" routerLink="/contact">Contact us</p>
        <p class="entry" routerLink="/report-issue">Report issues</p>
      </div>
    </div>
    
  </div>

</div>