<div mat-dialog-container data-scrollbar>
  <div class="row">
    <div class="col-12 col-sm-12 col-xs-4 col-md-4 col-lg-4 col-xl-4">

      <p class="text-center">
        <img src="{{ data?.attributes?.image?.original }}" class="img-fluid" alt="{{ data?.attributes?.names?.en }}">
      </p>
      <h2 class="text-center mt-3 ">{{ data?.attributes?.names?.en }} <br><span *ngIf="data?.attributes?.names?.ja_jp">({{ data?.attributes?.names?.ja_jp }})</span></h2>

      <br><br>
    </div>
    <div class="col-12 col-sm-12 col-xs-8 col-md-8 col-lg-8 col-xl-8">
      <p *ngIf="data?.attributes?.otherNames">
        Other names:
        <span *ngFor="let item of data?.attributes?.otherNames">
          {{ item }},
        </span>
      </p>
      <div [innerHTML]="data?.attributes?.description"></div>
      <hr>
      <h1>Related Media</h1>
      <p>Related media with {{ data?.attributes?.names?.en }}</p>

      <div class="d-flex">
        <mat-progress-spinner mode="indeterminate" [color]="'warn'" class="mt-3 ml-auto mr-auto" *ngIf="!isShow"></mat-progress-spinner>
      </div>
      <div *ngIf="isShow">
        <app-other-media></app-other-media>
      </div>
    </div>
  </div>
</div>
