
.mode-details-content {
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 10px 12px;
  width: 350px;

  top: 80px;
  left: calc(100vw - 350px - 40px);

  .rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .mat-icon {
      font-size: 14px;
      margin-right: -6px;
      transform: translateY(2px);

      &.heart {
        color: rgb(172, 0, 0);
      }

      &.star {
        color: #c7c703;
      }
    }

    span {
      font-family: 'Baloo Bhaina 2', cursive;
    }
  }
  
  .title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .synopsis {
    font-family: 'Hind Madurai', sans-serif;
    margin-bottom: -2px;
  }

}

