
.buttons {
  $y: -8px;
  display: flex;
  justify-content: center;

  &.middle {
    margin: 12px 0;
  }

  &.top {
    margin-top: $y;
  }

  &.bottom {
    margin-bottom: $y;
  }
  
  .mat-raised-button {
    margin: 0 8px;
    flex-grow: 1;
  }
}

