
<div class="empty" *ngIf="!data?.slug">
  <app-loading-box class="loading"></app-loading-box>
</div>

<div class="dialog" *ngIf="data?.slug">
  
  <div class="dialog-preview">
    
    <img width="231" [src]="data?.id | idToImage" [alt]="data?.slug">
    <p class="heading en">{{ data?.names?.en }}</p>
    <p class="heading int">({{ data?.names?.ja_jp }})</p>

    <mat-divider></mat-divider>

    <p class="selection">Media selection</p>

    <div class="media">
      <button mat-stroked-button class="individual"
        *ngIf="(media | async)?.length === 0"
        [ngClass]="{ 'selected': route === 'character' }" 
        (click)="route = 'character'">
        Character
      </button>
      <div>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'character': false"
          [ngClass]="{ 'selected': route === 'character' }" 
          (click)="route = 'character'">
          Character
        </button>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'movie': true"
          [ngClass]="{ 'selected': route === 'movie' }" 
          (click)="route = 'movie'">
          Movie
        </button>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'OVA': true"
          [ngClass]="{ 'selected': route === 'OVA' }" 
          (click)="route = 'OVA'">
          OVA
        </button>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'special': true"
          [ngClass]="{ 'selected': route === 'special' }" 
          (click)="route = 'special'">
          Special
        </button>
      </div>
      <div>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'oneshot': true"
          [ngClass]="{ 'selected': route === 'oneshot' }" 
          (click)="route = 'oneshot'">
          One
           shot</button>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'TV': true"
          [ngClass]="{ 'selected': route === 'TV' }" 
          (click)="route = 'TV'">
          TV
        </button>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'manga': true"
          [ngClass]="{ 'selected': route === 'manga' }" 
          (click)="route = 'manga'">
          Manga
        </button>
        <button mat-stroked-button
          *ngIf="(media | async) | filterSubtype: 'novel': true"
          [ngClass]="{ 'selected': route === 'novel' }" 
          (click)="route = 'novel'">
          Novel
        </button>
      </div>
    </div>

    <div class="loading" *ngIf="(media | async)?.length === 0">
      <app-loading-box></app-loading-box>
    </div>
  
  </div>
  
  <div class="dialog-content" data-simplebar data-simplebar-auto-hide="false">

    <div class="character" *ngIf="route === 'character'">
      
      <p class="heading">Character description</p>
      <mat-divider></mat-divider>
      <span class="details"[innerHtml]="data?.description"></span>

      <p class="heading last" *ngIf="data?.otherNames.length !== 0">Other names</p>
      <mat-divider *ngIf="data?.otherNames.length !== 0"></mat-divider>
      <span class="names" *ngFor="let name of data?.otherNames; let isLast = last">
        <span>{{ name }}<span *ngIf="!isLast">,&nbsp;</span></span>
      </span>

    </div>

    <div *ngIf="route !== 'character' && route !== 'media'">

      <div *ngFor="let anime of (media | async) | filterSubtype: route; let i = index; let isLast = last">
        <div class="anime">
        
          <div class="preview">
            <img
              [defaultImage]="'assets/images/no-image.png'" 
              [errorImage]="'assets/images/no-image.png'" 
              [lazyLoad]="anime?.posterImage?.original" 
              [alt]="anime?.slug">
            <button mat-stroked-button (click)="moreDetails(anime, 'media')">More details</button>
          </div>
    
          <div class="content">

            <p class="en">{{ anime?.titles?.en_jp }}</p>
            <p class="int">
              <span *ngIf="anime?.titles?.ja_jp">(</span>
              <span>{{ anime?.titles?.ja_jp }}</span>
              <span *ngIf="anime?.titles?.ja_jp">)</span>
            </p>

            <p class="head">Synopsis</p>

            <span class="synopsis" 
              [innerHTML]="anime?.synopsis | sliceString: stringLength[i]" *ngIf="stringLength[i] === 250" 
              (click)="stringLength[i] = -1">
            </span>
            <span class="synopsis" 
              [innerHTML]="anime?.synopsis | sliceString: stringLength[i]" *ngIf="stringLength[i] !== 250"
              (click)="stringLength[i] = 250">
            </span>
            <span class="link" 
              (click)="stringLength[i] = -1" 
              *ngIf="(anime?.synopsis | sliceString: stringLength[i]).length < 254 && anime?.synopsis.length > 250">
              <span> read more</span>
            </span>
            <span class="link" 
              (click)="stringLength[i] = 250" 
              *ngIf="(anime?.synopsis | sliceString: stringLength[i]).length > 253 && anime?.synopsis.length > 250">
              <span> collapse</span>
            </span>
          </div>
          
        </div>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </div>
    </div>

    <div class="selected-media" *ngIf="route === 'media'">

      <div class="header">
        <p class="en">{{ selectedMedia?.titles?.en_jp }}</p>
        <p class="int">
          <span *ngIf="selectedMedia?.titles?.ja_jp">(</span>
          <span>{{ selectedMedia?.titles?.ja_jp }}</span>
          <span *ngIf="selectedMedia?.titles?.ja_jp">)</span>
        </p>
      </div>

      <div class="preview">
        <img [src]="selectedMedia?.posterImage?.original" [alt]="selectedMedia?.slug">
      </div>

      <div class="content">
        
        <p class="heading">Information</p>
        <mat-divider></mat-divider>
        <p class="info" *ngIf="selectedMedia?.ratingRank">
          <span class="key">Rating rank: </span>
          <span>#{{ selectedMedia?.ratingRank }}</span>
        </p>
        <p class="info" *ngIf="selectedMedia?.popularityRank">
          <span class="key">Popularity rank: </span>
          <span>#{{ selectedMedia?.popularityRank }}</span>
        </p>
        <p class="info" *ngIf="selectedMedia?.averageRating">
          <span class="key">Rating: </span>
          <span>{{ selectedMedia?.averageRating }}%</span>
        </p>
        <p class="info" *ngIf="selectedMedia?.status">
          <span class="key">Status: </span>
          <span>{{ selectedMedia?.status }}</span>
        </p>
        <p class="info" *ngIf="selectedMedia?.ageRating">
          <span class="key">Age rating: </span>
          <span>{{ selectedMedia?.ageRating }}</span>
        </p>
        <p class="info" *ngIf="selectedMedia?.ageRatingGuide">
          <span class="key">Age rating guide: </span>
          <span>{{ selectedMedia?.ageRatingGuide }}</span>
        </p>
        <p class="info" *ngIf="selectedMedia?.startDate">
          <span class="key">Aired: </span>
          <span>{{ selectedMedia?.startDate | animeDate }}</span>
        </p>
        <p class="info">
          <span class="key">Ended: </span>
          <span *ngIf="!selectedMedia?.endDate">&nbsp;~ </span>
          <span>{{ selectedMedia?.endDate | animeDate }}</span>
        </p>

      </div>
      
      <div class="synopsis">

        <p class="heading">Synopsis</p>
        <mat-divider></mat-divider>
        <p class="description" [innerHTML]="selectedMedia?.synopsis"></p>

      </div>

      <div class="action">
        <button mat-stroked-button (click)="route = previous">Back to previous</button>
      </div>

    </div>
    
  </div>

</div>
