.wrapper {
  height: 100%;
  overflow-y: auto;

  [data-left] {
    [data-en] {
      margin-top: 10px;
    }
    .img-fluid {
      width: 400px;
    }
  }

  [data-right] {
    text-indent: inherit;
    [data-status] {
      font-size: 1.15em;
    }
  }
}
