<mat-form-field color="accent">
  <mat-label>Filter</mat-label>
  <input matInput [matAutocomplete]="reactiveAuto" [formControl]="pirateCtrl">
  <button mat-icon-button matSuffix color="accent" [matTooltip]="'clear'" (click)="pirateCtrl.patchValue('')" *ngIf="isShow"><mat-icon>clear</mat-icon></button>
  <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let pirate of onePiece" [value]="pirate?.attributes?.names?.en">
      <span>{{ pirate?.attributes?.names?.en }}</span>
      <span class="demo-secondary-text" *ngIf="pirate?.attributes?.names?.ja_jp"> ({{pirate?.attributes?.names?.ja_jp}}) </span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<router-outlet></router-outlet>
