
<div class="dialog">

  <div class="dialog-details">

    <div class="highlight" matRipple>
      <p class="text key">AVE. Rating</p>
      <p class="text value">{{ about?.averageRating }}%</p>
    </div>

    <div class="highlight" matRipple>
      <p class="text key">Popularity rank</p>
      <p class="text value">#{{ about?.popularityRank }}</p>
    </div>

    <div class="highlight" matRipple>
      <p class="text key">Rating rank</p>
      <p class="text value">#{{ about?.ratingRank }}</p>
    </div>

    <div class="highlight" matRipple>
      <p class="text key">Age rating</p>
      <p class="text value">"{{ about?.ageRating | uppercase }}"</p>
    </div>

    <div class="highlight" matRipple>
      <p class="text key">Age rating guide</p>
      <p class="text value">{{ about?.ageRatingGuide }}</p>
    </div>
    
  </div>

  <div class="dialog-preview" [ngClass]="{ 'anime-height': mediaType === 'anime', 'manga-height': mediaType === 'manga' }">

    <img
      [defaultImage]="'assets/images/no-image.png'" 
      [errorImage]="'assets/images/no-image.png'" 
      [lazyLoad]="about?.posterImage?.small" 
      [alt]="about?.slug">

    <div class="highlight">
      <span class="text head"><strong>Information</strong></span>
      <mat-divider></mat-divider>
      <span class="text key"><strong>Status: </strong></span>
      <span class="text value">{{ about?.status === 'current' ? 'Currently Airing' : 'Finished Airing' }}</span>
      <div class="spacer"></div>
      <span class="text key"><strong>Aired: </strong></span>
      <span class="text value">
        <span>{{ about?.startDate | animeDate }}</span>
        <span> - </span>
        <span *ngIf="about?.endDate">{{ about?.endDate | animeDate }}</span>
        <span *ngIf="!about?.endDate">current</span>
      </span>
      <div class="spacer"></div>
      <span class="text key"><strong>Show type: </strong></span>
      <span class="text value">{{ about?.subtype }}</span>
      <div class="spacer" *ngIf="mediaType === 'anime'"></div>
      <span class="text key" *ngIf="mediaType === 'anime'"><strong>Episode length: </strong></span>
      <span class="text value" *ngIf="mediaType === 'anime'">{{ about?.episodeLength }} mins</span>
    </div>

  </div>

  <div class="dialog-info" [ngClass]="{ 'anime-height': mediaType === 'anime', 'manga-height': mediaType === 'manga' }" data-simplebar #simplebar>
    
    <mat-divider class="header" *ngIf="isShowHeader"></mat-divider>

    <div class="content-data" *ngIf="!isEpisode">
      <div class="title" *ngIf="true">
        <p class="en">{{ about?.canonicalTitle }}</p>
        <p class="int">{{ about?.titles?.ja_jp }}</p>
        <p class="head">Synopsis</p>
        <p class="synopsis">
          <span class="details"(click)="
          stringLength = stringLength === 500 ? -1 : about?.synopsis.length < 500 ? -2 : 500" [innerHTML]="about?.synopsis | sliceString: stringLength"></span>
          <span class="link" (click)="stringLength = about?.synopsis.length < 500 ? -2 : -1" *ngIf="stringLength === 500"> read more</span>
          <span class="link" (click)="stringLength = about?.synopsis.length < 500 ? -2 : 500" *ngIf="stringLength === -1"> collapse</span>
        </p>
      </div>
  
      <div class="black">
  
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header (click)="resetLoadMore()">
              <mat-panel-title>Genre</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-chip-list>
                <mat-chip *ngFor="let genre of (about?.links | relationship: 'genres' | async)">
                  {{ genre | async }}
                </mat-chip>
              </mat-chip-list>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header (click)="resetLoadMore()">
              <mat-panel-title>Categories</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-chip-list>
                <mat-chip 
                  matTooltip="click for more details"
                  *ngFor="let category of (about?.links | relationship: 'categories' | async)"
                  (click)="_category(category)">
                  {{ (category | async)?.title }}
                </mat-chip>
              </mat-chip-list>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel #episodes>
            <mat-expansion-panel-header (click)="resetLoadMore(true)">
              <mat-panel-title>{{ mediaTypeString }}</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="episodes" *ngIf="isEpisodeOpen">
                <div class="episode" *ngFor="let episode of (about?.links | relationship: 'episodes' | async | loadMore: episodeCount: 'episodes'); let i = index">
                  <button mat-stroked-button (click)="openEpisode(episode)">
                    <span>#{{ i + 1 }}</span>
                  </button>
                </div>
              </div>
              <div class="spacer"></div>
              <div class="episode more">
                <button mat-stroked-button (click)="moreEpisode(true)">Load more</button>
                <button mat-stroked-button (click)="moreEpisode(false)">Load less</button>
                <button mat-stroked-button (click)="episodes.close(); resetLoadMore()">Collapse panel</button>
              </div>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header (click)="resetLoadMore()">
              <mat-panel-title>Media Productions</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="media-productions" matRipple *ngFor="let prod of (about?.links | relationship: 'productions' | async)">
                <p><strong>{{ (prod | async)?.role | stringHelper: 'camelcase' }}</strong></p>
                <p>{{ (prod | async)?.name }}</p>
              </div>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel #staff>
            <mat-expansion-panel-header (click)="resetLoadMore(true)">
              <mat-panel-title>Staff</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="staffs" *ngIf="isStaffOpen">
                <div class="staff" *ngFor="let staff of (about?.links | relationship: 'staff' | async | loadMore: staffCount: 'staff')">
                  <span><strong>{{ (staff | async)?.role }}</strong></span><br>
                  <span>{{ (staff | async)?.name }}</span>
                  <br><br>
                </div>
              </div>
              <div class="spacer"></div>
              <div class="staff more">
                <button mat-stroked-button (click)="moreStaff(true)">Load more</button>
                <button mat-stroked-button (click)="moreStaff(false)">Load less</button>
                <button mat-stroked-button (click)="staff.close(); resetLoadMore()">Collapse panel</button>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
  
      </div>
    </div>

    <div class="episode-data" *ngIf="isEpisode">

      <div class="title" *ngIf="(episode | async) !== null">
        <p class="en">{{ (episode | async)?.canonicalTitle }}</p>
        <p class="int">
          <span *ngIf="(episode | async)?.titles?.ja_jp">( </span>
          <span>{{ (episode | async)?.titles?.ja_jp }}</span>
          <span *ngIf="(episode | async)?.titles?.ja_jp"> )</span>
      </p>

      </div>

      <div class="preview" *ngIf="(episode | async)?.thumbnail?.original">
        <img [src]="(episode | async)?.thumbnail?.original">
      </div>

      <div class="synopsis" *ngIf="(episode | async) !== null">
        <p class="details">
          <strong *ngIf="mediaType === 'anime'">Episode: </strong>
          <strong *ngIf="mediaType !== 'anime'">Chapter: </strong>
          <span>#{{ (episode | async)?.number }}</span>
        </p>
        <p class="details">
          <strong *ngIf="mediaType === 'anime'">Air date: </strong>
          <strong *ngIf="mediaType !== 'anime'">Release date: </strong>
          <span>{{ (episode | async)?.airdate | animeDate }}</span>
        </p>
        <p class="head" *ngIf="(episode | async)?.synopsis">Synopsis</p>
        <p class="context">{{ (episode | async)?.synopsis }}</p>
      </div>

      <button mat-stroked-button (click)="isEpisode = false">Back to previous</button>

    </div>

  </div>

</div>
