#wrapper {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  z-index: 1;

  > .mat-toolbar {
    position: fixed;
    z-index: 2;

    .wrap {
      padding: 0;
    }
  }

  #content {
    padding-top: 64px;
  }
}

@media (max-width: 575px) {
  #wrapper {
    > .mat-toolbar {
      .mat-toolbar {
        padding: 0;
      }
    }
  }
}
