<div id="wrapper" data-simplebar>
  <div id="img">
    <img src="{{ data?.attributes?.image?.original }}" alt="{{ data?.attributes?.names?.en }}">
  </div>

  <div id="media">
    <button mat-icon-button (click)="onMedia()">
      <mat-icon>movie</mat-icon>
    </button>
  </div>

  <div id="content">
    <h2>{{ data?.attributes?.names?.en }}</h2>

    <p *ngIf="data?.attributes?.names?.ja_jp">({{ data?.attributes?.names?.ja_jp }})</p>

    <p *ngIf="data?.attributes?.otherNames">
      Other names:
      <span *ngFor="let item of data?.attributes?.otherNames">
        {{ item }},
      </span>
    </p>

    <div [innerHTML]="data?.attributes?.description"></div>
  </div>

</div>
