#wrapper {
  overflow-y: auto;
  height: 80vh;
  margin: -24px;

  #img {
    position: absolute;
    // z-index: -1;
    background: black;

    img {
      position: relative;
      opacity: 0.4;
      z-index: 0;
      height: 80vh;
    }
  }

  #media {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;

    button {
      position: relative;
      margin: 8px;
      display: block;
      margin-left: auto;
      z-index: 5;
    }
  }

  #content {
    position: relative;
    margin: 0;
    margin-right: -20px;
    padding: 24px;
    max-width: 457.188px;

    > p {
      font-size: 1em;
    }
  }

  @media (max-width: 470px) {
    #content {
      width: 80vw;
      padding: 8px;
    }
  }

}
