<div class="route-page-container">

  <md-card color="warn">
    <img md-card-image src="http://wallpaper-gallery.net/images/uchiha-madara-wallpapers/uchiha-madara-wallpapers-20.jpg">
    <md-card-title>About</md-card-title>
    <md-card-content>
      <p>Lorem ipsum dolor sit amet, About me and the app</p>
    </md-card-content>
    <md-card-actions align="right">
      <button md-raised-button color="warn" (click)="onEnterAbout()">Enter</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <img md-card-image src="http://wallpaper-gallery.net/images/uchiha-madara-wallpapers/uchiha-madara-wallpapers-20.jpg">
    <md-card-title>App</md-card-title>
    <md-card-content>
      <p>Lorem ipsum dolor sit amet, more app contents and app repository on github</p>
    </md-card-content>
    <md-card-actions align="right">
      <button md-raised-button color="primary" (click)="onEnterCharacters()">One Piece</button>
      <button md-raised-button color="warn" (click)="onEnterApp()">Enter</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <img md-card-image src="http://wallpaper-gallery.net/images/uchiha-madara-wallpapers/uchiha-madara-wallpapers-20.jpg">
    <md-card-title>Contact</md-card-title>
    <md-card-content>
      <p>Lorem ipsum dolor sit amet, contact me, facebook, twitter, star and fork my app on github</p>
    </md-card-content>
    <md-card-actions align="right">
      <button md-raised-button color="warn" (click)="onEnterContact()">Enter</button>
    </md-card-actions>
  </md-card>

</div>
