.app-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  // display: flex;
  .container {
    margin-top: 25.5px;
    padding-top: 15px;
    margin-bottom: 25.5px;
    padding-bottom: 15px;
    .app-section {
      margin-top: 25px;
    }
  }
}
