<div class="wrapper" data-scrollbar>
  <div class="row m-0">
    <div class="col p-0">

      <div class="row m-0">
        <div class="col">

          <div class="title">
            <h3 class="text-center">One Piece <span class="text-muted">(1999)</span></h3>
          </div>

          <div class="poster-image">
            <!-- <img src="{{ onePieceDetails?.coverImage?.original }}" class="img-fluid" alt="{{ onePieceDetails?.titles?.en }}"> -->
            <img src="https://media.kitsu.io/anime/poster_images/12/large.jpg?1490541434" class="img-fluid" alt="{{ onePieceDetails?.titles?.en }}">
          </div>

        </div>
        <div class="col">

          <div class="anime-details">
            <div class="header">
              <h3>Anime Details</h3>
            </div>
            <p class="m-0"><strong>English:</strong> {{ onePieceDetails?.titles?.en }}</p>
            <p class="m-0"><strong>Japanese:</strong> {{ onePieceDetails?.titles?.ja_jp }}</p>
            <p class="m-0"><strong>Type:</strong> {{ onePieceDetails?.showType }}</p>
            <p class="m-0"><strong>Status:</strong> {{ onePieceDetails?.status }}ly Airing</p>
            <p class="m-0"><strong>Aired:</strong> Oct 20, 1999</p>
            <p class="m-0"><strong>Rating:</strong> {{ onePieceDetails?.ageRating }} - {{ onePieceDetails?.ageRatingGuide }} </p>
            <p class="m-0"><strong>Length:</strong> {{ onePieceDetails?.episodeLength }} minutes</p>
            <p class="m-0"><strong>Producers:</strong> Fuji TV, TAP</p>
            <p class="m-0"><strong>Licensors:</strong> Funimation, 4Kids Entertainment</p>
            <p class="m-0"><strong>Studios:</strong> Toei Animation</p>
          </div>

        </div>
      </div>
      <div class="row m-0">
        <div class="col">

          <div class="synopsis">
            <div class="header">
              <h4>Synopsis</h4>
            </div>
            <div class="content">
              <p class="m-0">{{ onePieceDetails?.synopsis }}</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
