.wrapper {
  overflow-y: auto;
  max-width: 750px;
  max-height: 80vh;
  .row {
    width: 100%;

    .title {
      letter-spacing: 0.125em;
      margin-bottom: 10px;
    }

    .anime-details {
      margin-top: 32px;
      padding-left: 7px;
    }

    .synopsis {
      margin-top: 30px;
      .header {
        margin-top: 10px;
        margin-bottom: 20px;
        letter-spacing: 0.125em;
      }
      .content {
        text-indent: 30px;
        letter-spacing: 0.1em;
        line-height: 1.6;
        text-align: justify;
      }
    }
  }
}
