#wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > .mat-card:hover {

    #shadow {
      z-index: 2;
    }

  }

  > .mat-card {
    width: 225px;
    height: 350px;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
    z-index: 1;

    .mat-card-content {
      width: 225px;
      height: 350px;
    }

    #shadow {
      position: absolute;
      background: black;
      opacity: 0.6;
      top: 0%;
      left: 0%;
      right: 0%;
      bottom: 0%;
      z-index: -1;

      p {
        margin-top: 50px;
        text-align: center;
        font-size: 2em;
      }

      .mat-icon-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}


@media (max-width: 479px) {

  #wrapper {
    justify-content: space-around;
  }

}
