<button mat-raised-button *ngIf="isMovie" (click)="showType = 'movie'">MOVIE</button>
<button mat-raised-button *ngIf="isSpecial" (click)="showType = 'special'">SPECIALS</button>
<button mat-raised-button *ngIf="isOva" (click)="showType = 'OVA'">OVA</button>
<button mat-raised-button *ngIf="isTv" (click)="showType = 'TV'">TV</button>

<h5 *ngIf="isShowContent"><br>No published media content found.</h5>

<div *ngFor="let media of medias | unique">
  <div class="row mt-4 mb-5" *ngIf="media?.data?.attributes?.showType === showType">
    <div class="col-12 col-sm-6 col-xl-6">
      <img src="{{ media?.data?.attributes?.posterImage?.large }}" class="img-fluid mb-3" alt="{{ media?.data?.attributes?.canonocalTitle }}">
    </div>
    <div class="col-12 col-sm-6 col-xl-6">
      {{ media?.data?.attributes?.a }}
      <p>{{ media?.data?.attributes?.canonicalTitle }}</p>
      <small>
        <span><strong>Release date:</strong> {{ media?.data?.attributes?.startDate }}</span><br>
        <span><strong>Status:</strong> {{ media?.data?.attributes?.status }}</span><br><br>
      </small>
      <small><strong>Synopsis</strong></small><br>
      <!-- <small>{{ media?.data?.attributes?.synopsis | shorten: 150: '...'  }} <span class="fake-link" (click)="onReadMore(media)">Read more.</span></small> -->
      <small>{{ media?.data?.attributes?.synopsis | shorten: 50: '...'  }} <span class="fake-link" (click)="onReadMore(media)">Read more.</span></small>
    </div>
  </div>
</div>
