.wrapper {
  height: 100%;
  overflow-y: auto;

  [data-card] {
    margin-top: 25px;
  }

  [data-img] {
    length: 100%;
    width: 207px + 48px;
  }

  .mat-card-content {
    font-size: 1.2em;
  }

}
