
<div class="autocomplete wrap">

  <form [formGroup]="filter">
    
    <mat-form-field color="accent">
      <mat-label>Search characters</mat-label>
      <input matInput formControlName="field" type="text" autocomplete="off">
    </mat-form-field>

  </form>

</div>

<app-loading-box *ngIf="characters.length === 0 && isShowLoading"></app-loading-box>

<div class="no-content wrap" *ngIf="characters.length === 0 && !isShowLoading">
  
  <p>No characters available</p>

</div>

<div class="content wrap">

  <div matRipple matTooltip="Select character" *ngFor="let character of characters | arrayFilter: 'uniqBy'; trackBy: trackByID" #card [tilt]="card" (click)="selectCharacter(character)">
    <mat-card>
    
      <img 
        mat-card-image 
        offset="300"
        [defaultImage]="'assets/images/no-image.png'" 
        [errorImage]="'assets/images/no-image.png'" 
        [lazyLoad]="character?.id | idToImage" 
        [alt]="character?.name" #image>
      
      <div class="back"></div>
      <div class="front">
        <span>{{ character?.name }}</span>
      </div>
  
    </mat-card>
  </div>

</div>

<ng-template 
  #overlay
  cdk-overlay-origin
  cdk-connected-overlay>

  <div class="overlay-content">
    <app-loading-box class="loading-box"></app-loading-box>
  </div>

</ng-template>
