
<div class="autocomplete wrap">

  <form [formGroup]="filter">
    
    <mat-form-field color="accent">
      <mat-label>Search characters</mat-label>
      <input matInput formControlName="field" type="text" autocomplete="off">
    </mat-form-field>

  </form>

</div>

<div class="content wrap">

  <div matRipple *ngFor="let character of characters" #card [tilt]="card" (click)="selectCharacter(character)">
    <mat-card>
    
      <img mat-card-image src="{{ character?.id | idToImage }}" alt="{{ character?.name }}">
      
      <mat-card-content class="back">
        <p>{{ character?.name }}</p>
      </mat-card-content>

      <mat-card-content class="front">
        <p>{{ character?.name }}</p>
      </mat-card-content>
  
    </mat-card>
  </div>

</div>
