/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

button:focus {
  outline: none;
}

.mat-icon:focus {
  outline: none;
}

button {
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
