
.bottom-sheet-container {
  width: 150px;
}

.overlay-content {
  display: flex;
  background-color: rgba(black, 0.5);
  width: 100vw;
  height: 100vh;
  
  .loading-box {
    margin: auto;
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  padding-top: 40px;

  .mat-raised-button {
    margin: 0 10px 0 0;
    height: 36px;

    .mat-icon {
      transform: translateX(8px);
    }
  }

  .selected {
    border: 1px solid #F44336;
  }

  .options {
    padding-bottom: 5px;
  }

  .break {
    display: block;
    margin: 0 auto;
  }

  .search {
    align-self: flex-end;

    .mat-form-field {
      width: 300px;
    }
  }
}

.genres, .categories {

  .mat-raised-button {
    margin-left: 10px;
  }

  .selected {
    border: 1px solid yellow;
  }
}

.filters {
  margin-top: 16px;

  p {
    font-size: 0.8em;
  }

  .primary-chip {
    // background-color: #E91E63;
    background-color: #FFAF02;
  }
}

.no-content {
  height: 250px;
  display: flex;

  p {
    margin: auto;
    font-size: 2em;
  }
}

.results P {
  padding: 20px 0 0 12px;
  margin-bottom: 6px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 40px;
  
  .mat-ripple {
    margin: 10px 0;
  }
  
  .mat-card {
    width: 200px;
    cursor: pointer;
    height: 283.09px;

    .mat-card-image {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      transition: opacity 1s, filter 1s;
      opacity: 0;
      filter: blur(10px);
    }
    
    .mat-card-image.ng-lazyloaded {
      opacity: 1;
      filter: blur(0px);
    }
  }
}
