<div data-simplebar id="wrapper">

  <div id="head">
    <h2>Related Media</h2>

    <div id="divider">
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
    </div>

    <button mat-raised-button (click)="showtype = 'movie'">MOVIE</button>
    <button mat-raised-button (click)="showtype = 'special'">SPECIALS</button>
    <button mat-raised-button (click)="showtype = 'OVA'">OVA</button>
    <button mat-raised-button (click)="showtype = 'TV'">TV</button>

  </div>

  <div id="media">

    <div *ngFor="let media of piratesMedia last as isLast">
      <div *ngIf="media.attributes.subtype === showtype">
        <h5>{{ media.attributes.canonicalTitle }}</h5>
        <div  id="head-content">
          <img id="poster" src="{{ media.attributes.posterImage.large }}" alt="{{ media.attributes.canonocalTitle }}">
          <div id="more">
            <p>Popularity rank: {{ media.attributes.popularityRank }}</p>
            <p>Rating rank: {{ media.attributes.ratingRank }}</p>
            <p>Type: {{ media.attributes.subtype }}</p>
            <p>Age rating: {{ media.attributes.ageRating }}</p>
            <p>Age rating guide: {{ media.attributes.ageRatingGuide }}</p>
          </div>
        </div>
        <div>
          <p>{{ media.attributes.synopsis }}</p>
        </div>

        <div id="divider" *ngIf="!isLast">
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

  </div>

</div>
